body img{
	width: 100%;
	height: 100%;
}

.container{

    width: 100%;
}

h1{
    font-family: cursive;
    font-style: oblique;
    color: #50cf5b;
}

h2{
    font-family: cursive;
    font-style: oblique;
    color: #50cf5b;
}

.user{
    text-align: left;
    font-size: 17px;
    margin-left: 650px
}

.userbackground{
    background-image: url("images/userbackground.jpg");
}

#servicetitle{
	text-align: center;
}

.contactinfo{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0px;
}

#lastchild{
	margin-top: 20px;
}